.navBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.rightSide a{
  color: white;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
}
.rightSide a:hover{
  background-color: darkgrey;
  border-radius: 4px;
}

.footer{
  justify-content: space-between;
  text-align: center;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] ,
textarea{
  width: 30%;
  padding: 12px;
  border: 1px solid #7e5c5c;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
  color: black;
  transition: all 0.3s ease;
}
input:focus {
  border-color: #774c4c49;
  box-shadow: 0 0 6px rgba(55, 56, 61, 0.3);
}
button {
  width: 20%;
  padding: 12px;
  background: #515361;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #333;
}
@media (max-width: 500px) {
  .form {
    padding: 30px;
  }
}
table{
  border:  3px solid white; 
  border-collapse: collapse;
}
